.react-notch {
  display: block;
  width: var(--radius-xxl);
  height: var(--radius-xxl);
  aspect-ratio: 1 / 1;
  flex: 0 0 auto;
  line-height: 0;
  overflow: hidden;
  pointer-events: none;
}

.react-notch > svg {
  display: block;
  width: 100%;
  height: 100%;
}

.react-notch-section {
  position: relative;
  display: flex;
  width: 100%;
  height: var(--radius-xxl);
  flex: 0 0 auto;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  pointer-events: none;
}

.react-notch-section > .react-notch.notch-element {
  width: var(--radius-xxl);
  height: var(--radius-xxl);
}

.react-notch-section > .react-notch.notch-element-right {
  transform: scaleX(-1);
}
